.owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    position: relative;
    z-index: 0;
}
.owl-carousel.home-slider {
    position: relative;
    height: 400px;
    z-index: 0;
}
.subheading {
    font-size: 25px !important;
    display: block;
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #f45318;
}
.ftco-category .category-wrap .text {
    background: #f45318;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}
