/* THEME OVERDRING */
.owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    position: relative;
    z-index: 0;
}
.owl-carousel.home-slider {
    position: relative;
    height: 400px;
    z-index: 0;
}
.subheading {
    font-size: 25px !important;
    display: block;
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #f45318;
}
.ftco-category .category-wrap .text {
    background: #f45318;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}
.hero-wrap.hero-bread {
    padding: 5em 0;
}
.ftco-section {
    padding: 5em 0;
    position: relative;
}
.pb-1,
.py-1 {
    padding-bottom: 0.6rem !important;
}
.pt-1,
.py-1 {
    padding-top: 0.6rem !important;
}

.status {
    width: 100% !important;
    text-align: center;
    opacity: 0.8;
}

/* RATING & STARS */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2em;
    justify-content: space-around;
    text-align: center;
    width: 5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating :checked ~ label {
    color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #fc0;
}

/* Gooogle Language */
.goog-te-gadget {
    font-family: arial;
    font-size: 11px;
    color: #f45318 !important;
    white-space: nowrap;
}
#google_translate_element span {
    display: none;
}
.header-phone {
    font-size: 14px;
}
.icon-phone2 {
    font-size: 14px;
}
.header-email {
    font-size: 14px;
}
.registration {
    font-size: 14px;
}
